<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<div class="margin-top">
    <div class="page-header">
        <h1>News</h1>
    </div>
    <div style="max-width: 65%; margin: auto; margin-top: 50px;">
        {% for post in collections.posts reversed %}
        <article class="post type-post status-publish format-standard">
            <h2><a href="{{ post.url }}">{{ post.data.postTitle }}</a></h2>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <span>
                    {{post.data.author || "Exceptionless"}}
                </span><br/>
                <span>
                    {{post.data.date || ""}}
                </span>
            </div>
            <div style="margin-bottom: 10px;">
                <a class="btn" href="{{ post.url }}">Read Now</a>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% include footer.html %}
</body>
</html>
